/* Стилизация аккордеона */
.accordion {
    box-sizing: border-box;

    &__summary {
        display: flex;
        align-items: center;
        justify-items: left;
    }

    &__hidden {
        margin-top: 16px;
        @include font(normal, normal, 16px, 24px);
        color: var(--grey-4);
    }

    &__summary::-webkit-details-marker {
        /* нестандартный псевдоэлемент Google Chrome */
        display: none;
    }

    &__item {
        @include font(normal, normal, 16px, 24px);
        margin-bottom: 8px;
        background: var(--white);
        border: 1px solid var(--grey-3);
        padding: 24px 32px 24px 32px;
        border-radius: 8px;
    }

    &__item:last-child {
        margin-bottom: 0;
    }

    &__title {
        @include font(normal, normal, 16px, 24px);
        color: var(--black);
        flex-grow: 1;
    }

    &__icon {
        width: 24px;
        height: 24px;
    }
}
