.burger {
    position: relative;
    box-sizing: border-box;

    &__icon-close {
        width: 24px;
        height: 24px;
        background: var(--grey-2);
        border-radius: 24px;
    }
    &__button {
        position: absolute;
        left: 16px;
        top: 16px;
        width: 32px;
        height: 32px;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        display: grid;
        align-items: center;
        justify-items: center;
    }
    &__content {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        transform: translateX(-100vw);
        transition: -webkit-transform 250ms ease-in-out;
        @include mobile {
            display: block;
        }
    }
    &__items {
        margin-top: 64px;
        height: calc(100% - 64px);
        padding: 24px 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        gap: 16px;
        background: var(--white);
    }
    &__title {
        @include font(normal, normal, 20px, 26px);
        color: var(--grey-3);
    }
    &__item {
        display: block;
        border: none;
        background-color: transparent;
        cursor: pointer;
        @include font(normal, normal, 16px, 24px);
        text-align: left;
        color: var(--black);

        &:hover {
            color: var(--orange);
        }
    }
    &__content[data-open] {
        transform: translateX(0vw);
    }
}
