/* Стилизация кнопки */
.btn {
    box-sizing: border-box;
    width: 189px;
    height: 48px;
    cursor: pointer;
    border: none; 
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    transition: all var(--transition-time) ease-in-out;

    &-primary {
        background: var(--blue);
        color: var(--white);
    
        &:hover{
            background: var(--dark-blue);
        }

        &:disabled{
            pointer-events: none;
            opacity: .5;
        }
    }

    &-secondary {
        background: var(--purple);
        color: var(--white);

        &y:hover{
            background: var(--dark-purple);
        }

        &:disabled{
            pointer-events: none;
            opacity: .5;
        }
    }

    &-alternate {
        color: var(--black);
        background: var(--white);
        border: var(--border-grey);

        &:hover{
            border: var(--border-black);
        }

        &:disabled{
            color: var(--grey-4);
            pointer-events: none;
            opacity: .5;
        }
    }

}