.ical {
    padding: 28px;
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;

    &_preview {
        width: 304px;
    }

    &_compact {
        height: 100%;
        @include mobile {
            padding: 16px;
        }
    }

    &__title {
        @include font(normal, 600, 20px, 24px);
        color: var(--default-text-color);
        text-align: center;
        padding-bottom: 24px;

        &_compact {
            @include mobile {
                @include font(normal, normal, 12px, 10px);
                padding-bottom: 8px;
            }
        }
    }

    &__wrapper {
        position: relative;
        padding-bottom: 100%;
    }

    &__grid {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(7, 1fr);
        justify-items: stretch;
        align-items: stretch;
    }

    &__item {
        display: grid;
        justify-items: center;
        align-items: center;
    }

    &__item_header {
        @include font(normal, normal, 14px, 20px);
        color: var(--grey-5a);
    }

    &__item_header-compact {
        @include font(normal, normal, 10px, 12px);

        @include mobile {
            @include font(normal, normal, 6px, 8px);
        }
    }

    &__item_data {
        font-family: Source Sans Pro, sans-serif;
        @include font(normal, normal, 16px, 20px);
        color: var(--default-text-color);
    }

    &__item_data-compact {
        @include font(normal, normal, 10px, 12px);

        @include mobile {
            @include font(normal, normal, 6px, 8px);
        }
    }

    &__item_selection-point {
        background: var(--blue);
        color: var(--white);
    }

    &__item_selection-body {
        background: rgba(160, 177, 245, 0.2);
    }
}
