.ifooter {
    padding: 71px 0 136px;
    background-color: var(--card-background);
    border-top: 1px solid var(--grey-2);

    &_slim {
        padding: 56px 0 56px;
        background-color: unset;
        border-top: unset;
    }

    &__title {
        text-align: center;
        margin-top: 0;
        margin-bottom: 32px;
    }

    &__alt-title {
        @include font(normal, 500, 12px, 18px);
        letter-spacing: 0.04em;
        text-transform: uppercase;
        text-align: center;
        color: var(--grey-3);
    }

    &__description {
        text-align: center;
        max-width: 640px;
        margin: 0 auto;
    }

    @include mobile {
        display: none;
    }
}
