.fld {
    display: inline-block;
    box-sizing: border-box;
    position: relative;

    &__icon-success {
        position: absolute;
        right: 18px;
        top: 50%;
        display: none;
        width: 24px;
        height: 24px;
        color: var(--success);
        transform: translateY(-50%);
    }

    &__icon-error {
        position: absolute;
        right: 18px;
        top: 50%;
        display: none;
        width: 24px;
        height: 24px;
        color: var(--error);
        transform: translateY(-50%);
    }

    &__input-box {
        padding-left: 24px;
        background: var(--white);
        border: 1px solid var(--grey-2);
        border-radius: 8px;
        min-width: 350px;
        height: 56px;
        display: grid;
        align-items: center;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 26px;
        color: var(--grey-4);

        &::placeholder {
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 26px;
            color: var(--grey-2);
        }

        &:focus {
            outline: none;
            border-color: var(--blue);
            box-shadow: 0px 1px 1px rgba(51, 154, 240, 0.1);
        }

        &_invalid {
            border-color: var(--error);
        }

        &_invalid ~ .fld__icon-error {
            display: block;
        }

        &_success ~ .fld__icon-success {
            display: block;
        }

        &_invalid:focus {
            border-color: var(--error);
        }
    }
}
