.ipage {
    box-sizing: border-box;
    background: var(--layout-background);
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;

    &__box {
        max-width: 1110px;
        margin: 0 auto;
    }

    &__space-between-container {
        display: flex;
        justify-content: space-between;
    }

    &__box-slim-mobile {
        max-width: 1110px;
        margin: 0 auto;
    }

    @include mobile-ext {
        /*prevent touch ipage to screen borders */
        &__box {
            padding: 0 16px;
        }
        &__box-slim-mobile {
            padding: 0 16px;
        }
    }

    @include mobile {
        &__box-slim-mobile {
            padding: 0;
        }
    }
}
