.ipage {
    box-sizing: border-box;
    background: var(--grey-1b);
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;

    &__box {
        max-width: 1110px;
        margin: 0 auto;
    }

    &__box-slim-mobile {
        max-width: 1110px;
        margin: 0 auto;
    }

    @media all and (max-width:1140px) { /*prevent touch ipage to screen borders */
        &__box {
            padding: 0 16px;
        }
        &__box-slim-mobile {
            padding: 0 16px;
        }
    }

    @media all and (max-width:768px) {
        &__box-slim-mobile {
            padding: 0;
        }
    }
}