.tabs {
    box-sizing: border-box;
    position: relative;

    &__header {
        border-bottom: 1px solid var(--grey-2);
        width: 100vw;
        overflow-x: auto;
        scrollbar-width: none;
        background: var(--card-background);

        &_compact {
            width: 100%;
        }
    }

    &__scroller {
        display: flex;
        gap: 40px;
        align-items: end;
    }

    &__native-control {
        position: absolute;
        left: 0px;
        top: 0px;
        opacity: 0;
        pointer-events: none;
        outline: none;
    }

    &__item {
        display: inline-block;
        @include font(normal, normal, 16px, 24px);
        color: var(--default-text-color);
        white-space: nowrap;
        border-bottom: 5px solid transparent;
        cursor: pointer;
    }

    &__elements-tab-content {
        display: none;
    }

    &__containers-tab-content {
        display: none;
    }

    &__templates-tab-content {
        display: none;
    }

    &__html-tab-content {
        display: none;
    }

    &__css-tab-content {
        display: none;
    }

    &__native-control_1:checked ~ &__header &__item-marker_1 {
        border-bottom-color: var(--tabs-marker-color);
    }

    &__native-control_1:checked ~ &__content &__elements-tab-content {
        display: flex;
    }

    &__native-control_1:checked ~ &__content &__containers-tab-content {
        display: flex;
    }

    &__native-control_1:checked ~ &__content &__templates-tab-content {
        display: flex;
    }

    &__native-control_2:checked ~ &__header &__item-marker_2 {
        border-bottom-color: var(--tabs-marker-color);
    }

    &__native-control_2:checked ~ &__content &__elements-tab-content {
        display: flex;
    }

    &__native-control_3:checked ~ &__header &__item-marker_3 {
        border-bottom-color: var(--tabs-marker-color);
    }

    &__native-control_3:checked ~ &__content &__containers-tab-content {
        display: flex;
    }

    &__native-control_4:checked ~ &__header &__item-marker_4 {
        border-bottom-color: var(--tabs-marker-color);
    }

    &__native-control_4:checked ~ &__content &__templates-tab-content {
        display: flex;
    }

    &__native-control_html:checked ~ &__header &__item-marker_html {
        border-bottom-color: var(--tabs-marker-color);
    }

    &__native-control_html:checked ~ &__content &__html-tab-content {
        display: block;
    }

    &__native-control_css:checked ~ &__header &__item-marker_css {
        border-bottom-color: var(--tabs-marker-color);
    }

    &__native-control_css:checked ~ &__content &__css-tab-content {
        display: block;
    }
}
