/* Стилизация кнопки */
.btn {
    box-sizing: border-box;
    width: 189px;
    height: 48px;
    cursor: pointer;
    border: none; 
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    transition: all var(--transition-time) ease-in-out;
}

.btn_primary {
    background: var(--blue);
    color: var(--white);
}

.btn_primary:hover{
    background: var(--dark-blue);
}

.btn_primary:disabled{
    pointer-events: none;
    opacity: 0.5;
}

.btn_secondary {
    background: var(--purple);
    color: var(--white);
}

.btn_secondary:hover{
    background: var(--dark-purple);
}

.btn_secondary:disabled{
    pointer-events: none;
    opacity: 0.5;
}

.btn_alternate {
    color: var(--black);
    background: var(--white);
    border: var(--border-grey);
}

.btn_alternate:hover{
    border: var(--border-black);
}

.btn_alternate:disabled{
    color: var(--grey-4);
    pointer-events: none;
    opacity: 0.5;
}