.ipage {
    box-sizing: border-box;
    background: #F9FAFC;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    row-gap: 32px;
}

.ipage__box {
    max-width: 1110px;
    margin: 0 auto;
}