@import './normalize.css';
@import './typography.css';
@import '../fonts/fonts.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #f784ad;
    --orange: #d84910;
    --black-max: #000000;

    --purple: #7048e8;
    --dark-purple: #5028c6;
    --blue: #4263eb;
    --blue-1: #374fc7;
    --dark-blue: #2342c0;
    --red: #f03d3e;
    --grey-1: #f8f9fa;
    --grey-1b: #f9fafc;
    --grey-1a: #e5e5e5;
    --grey-2: #dde2e5;
    --grey-2a: #c4c4c4;
    --grey-3: #acb5bd;
    --grey-4: #495057;
    --grey-5: #334d6e;
    --grey-5a: #90a0b7;
    --grey-6: #ffffff75;

    --layout-background: var(--grey-1b);
    --card-background: var(--white);
    --default-text-color: var(--black);
    --disabled-text-color: var(--grey-2);
    --hover-text-color: var(--grey-2a);
    --tabs-marker-color: var(--black);

    --error: var(--red);
    --success: var(--blue-1);

    --primary: var(--blue);
    --secondary: var(--purple);

    --border-grey: 1px solid var(--grey-3);
    --border-black: 1px solid var(--black);

    --transition-time: 200ms;
}

:root[data-theme-dark] {
    --layout-background: var(--grey-4);
    --card-background: var(--black);
    --default-text-color: var(--grey-6);
    --hover-text-color: var(--grey-2a);
    --disabled-text-color: var(--grey-2);
    --tabs-marker-color: var(--grey-2);
}

* {
    font-family: 'Inter', sans-serif;
}
