.ical_preview {
    width: 304px;
    height: 324px;
}

.ical {
    padding: 28px;
    gap: 24px;
    background: var(--white);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.ical__title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #334D6E;
    align-self: center;
}

.ical__legend {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
}

.ical__legend-item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #90A0B7;
}

.ical__data-item {
    display: grid;
    justify-items: center;
    align-items: center;
}

.ical__data-text {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #334D6E;
}

.ical__data-item__selection-point {
    background: var(--blue);
    color: var(--white);
}

.ical__data-item__selection-body {
    background: rgba(160, 177, 245, 0.2);
}

.ical__data {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5,1fr);
    justify-items: stretch;
    align-items: stretch;
 }

 