.skltn {
    padding: 32px 40px 32px 24px;
    box-sizing: border-box;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    background: var(--white);
}

.skltn_width_579 {
    width: 579px;
}

.skltn__circle {
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 64px;
    background: var(--grey-2);
}

.skltn__title {
    display: inline-block;
    height: 64px;
}

.skltn__row {
    height: 20px;
    margin: 8px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

.skltn__row_short {
    width: 172px;
}

.skltn__row_middle {
    width: 257px;
}

.skltn__row_long {
    width: 100%;
}