.cpreview {
    display:grid;
    grid-template-columns: auto 1fr;
    column-gap: 56px;
}

.cpreview__nav {
    width: 232px;
}

.cpreview__content {
    background: var(--white);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
}